h1 {
  font-size: 20px;
}

.dino-layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 604px minmax(0, 1fr);
}

.game-content {
  display: contents;
}

.game-title {
  grid-column: 2;
  grid-row: 1;
}

.game {
  grid-column: 2;
  grid-row: 2;
}

.game-message {
  grid-column: 2;
  grid-row: 3;
}

.sprite-selector {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 16px;
}

.scoreboard {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  justify-self: start;
  margin-left: 16px;
}

.game {
  width: 600px;
  height: 225px;
  border: 2px solid black;
  margin: auto;
}

#start-message {
  position: relative;
}

.scoreboard {
  width: 200px;
}

#score {
  font-size: 10px;
}


#dino {
  width: 50px;
  height: 50px;
  background-image: var(--dino-idle);
  background-size: 50px 50px;
  position: relative;
  z-index: 1;
  top: 150px;
}

.skin-default {
  --dino-idle: url(img/default-sprites/dino-default.png);
  --dino-jump: url(img/default-sprites/dino-default.png);
  --dino-run1: url(img/default-sprites/dino-run1.png);
  --dino-run2: url(img/default-sprites/dino-run2.png);
  --dino-game-over: url(img/default-sprites/dino-eyes.png);
}

.skin-jockey {
  --dino-idle: url(img/jockey-sprites/jockey-def-run1.png);
  --dino-jump: url(img/jockey-sprites/jockey-jump.png);
  --dino-run1: url(img/jockey-sprites/jockey-def-run1.png);
  --dino-run2: url(img/jockey-sprites/jockey-run2.png);
  --dino-game-over: url(img/jockey-sprites/jockey-eyes.png);
}

.skin-surfer {
  --dino-idle: url(img/surfer-sprites/surfer-def-run1.png);
  --dino-jump: url(img/surfer-sprites/surfer-jump.png);
  --dino-run1: url(img/surfer-sprites/surfer-def-run1.png);
  --dino-run2: url(img/surfer-sprites/surfer-run2.png);
  --dino-game-over: url(img/surfer-sprites/surfer-eyes.png);
}

.game.running #dino {
  animation: dino-run 0.2s steps(1, end) infinite;
}

.game.running #dino.jump {
  animation: dino-run 0.2s steps(1, end) infinite, jump 0.4s linear;
  background-image: var(--dino-jump);
}

.game.game-over #dino {
  background-image: var(--dino-game-over);
}

@keyframes dino-run {
  0%, 49% {
    background-image: var(--dino-run1);
  }

  50%, 100% {
    background-image: var(--dino-run2);
  }
}

.jump {
  animation: jump 0.4s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  20% {
    top: 100px;
  }

  50% {
    top: 70px;
  }

  80% {
    top: 100px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: var(--cactus-width);
  height: var(--cactus-height);
  position: relative;
  z-index: 0;
  top: calc(150px - var(--cactus-height));
  left: var(--cactus-start);

  background-image: url("img/cactus.png");
  background-repeat: no-repeat;

  animation: block var(--cactus-duration) linear forwards;
}

.game.not-running #cactus {
  animation-play-state: paused;
}

#pause-button {
  display: block;
  margin: 12px auto 0;
}

@keyframes block {
  0% {
    left: var(--cactus-start);
  }

  100% {
    left: var(--cactus-end);
  }
}
