.game {
  width: 600px;
  height: 225px;
  border: 1px solid black;
  margin: auto;
}

#start-message {
  position: relative;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(img/dino-default.png);
  background-size: 50px 50px;
  position: relative;
  z-index: 1;
  top: 150px;
}

.game.running #dino {
  animation: dino-run 0.2s steps(1, end) infinite;
}

.game.running #dino.jump {
  animation: dino-run 0.2s steps(1, end) infinite, jump 0.3s linear;
}

.game.game-over #dino {
  background-image: url(img/dino-eyes.png);
}

@keyframes dino-run {
  0%, 49% {
    background-image: url(img/dino-run1.png);
  }

  50%, 100% {
    background-image: url(img/dino-run2.png);
  }
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  z-index: 0;
  top: 110px;
  left: 580px;

  background-image: url("img/cactus.png");
  background-size: 20px 40px;

  animation: block 2s infinite linear;
}

.game.not-running #cactus {
  animation-play-state: paused;
}

#pause-button {
  display: block;
  margin: 12px auto 0;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -5px;
  }
}
